.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.listEl a {
  color: var(--color-text-grey);
  text-transform: uppercase;
  padding: 1rem 0;
  display: block;
  font-weight: 700;
}

.list a:global(.active) {
  color: var(--color-text-default);
  border-bottom: 3px solid var(--color-text-default);
}
